body {
    font-family: "Roboto Mono", monospace;
}

h2 {
    font-size: 18px;
    text-align: center;
}

.main {
    width: 400px;
    height: 700px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    width: 300px;
    height: 300px;
    background-color: dodgerblue;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.child {
    width: 75px;
    height: 75px;
    background-color: whitesmoke;
    border: 1px solid snow;
    display: flex;
    align-items: center;
    justify-content: center;
}